body, html, #root {
	height: 100vh;
}

span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.tab-content {
	flex-grow: 1;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 1em 0;
}

.scroll-container {
	overflow: auto;
}