body, html, #root {
	height: 100vh;
}

span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#root {
	display: flex;
	flex-direction: column;
}

.empty-container {
	width: 100%;
	display: flex;
	color: #ddd;
	justify-content: flex-end;
	padding-right: 3.5em;
	height: 133px;
}
.empty-container span:first-child {
	align-self: flex-end;
	padding-right: 0.5em;
}