input {
	border: none;
	font: inherit;
}

input.field {
	border-bottom: 1px solid transparent;
}
input.field:hover {
	border-bottom: 1px solid #ddd;
}

input.field:focus {
	border-bottom: 1px solid #bbb
}