.food-database {
	display: grid;
	width: 30vw;
	grid-template-rows: [database-title] auto [database-filter] auto [database-list] 1fr;
	height: 100vh;
}

.food-database-list {
	display: grid;
	grid-row: database-list;
	grid-gap: 2em;
	overflow: auto;
	justify-items: center;
}

.food-database-title {
	grid-row: database-title;
	font-size: 2.5em;
	line-height: 1.8em;
	justify-self: center;
}

.food-database-filter {
	grid-row: database-filter;
	font-size: 1.3em;
	margin-bottom: 1.8em;
}

.food-database-filter > * {
	width: 99%;
	text-align: center;
}