.meal-container {
	display: grid;
	grid-template-rows: [meal-container-title] auto [meal-container-list] 1fr;
	height: 100vh;
	padding-left: 2em;
}

.meal-container-title {
	grid-row: meal-container-title;
	font-size: 2.5em;
	line-height: 1.8em;
}

.meal-container-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
	overflow: auto;
	align-items: flex-start;
}