.wrapper {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: 
		"top top top"
		"left center right"
		"bottom bottom bottom";

	height: 100%;
}

.wrapper > * {
	overflow: auto;
}

.top-content {
	grid-area: top;
}

.left-content {
	grid-area: left;
}

.center-content {
	grid-area: center;
	min-width: min-content;
}

.right-content {
	grid-area: right;
}

.bottom-content {
	grid-area: bottom;
}